.registration {
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reg-content {
    border: 2px dashed var(--color-primary);
    padding: 4rem;
    background: rgba(0, 20, 0, 0.3);
    position: relative;
}

.reg-content h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
}

.ticket-btn {
    display: inline-block;
    background: var(--color-secondary);
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 #fff;
    margin-bottom: 2rem;
}

.ticket-btn:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px 0 #fff;
    background: #ff33ff;
}

.ticket-btn:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.urgency-text {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    animation: blink 1s infinite;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .reg-content {
        padding: 2rem;
        width: 100%;
    }

    .reg-content h2 {
        font-size: 1.5rem;
    }

    .ticket-btn {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
}